{% extends "base.html" %} 
{% block content %} 
    <div class="jumbotron">
        <div align="center">
            <h1> Welcome to the page for {{user.username}} </h1>
            <img src="{{url_for('static', filename='profile_pics'/+user.profile_image)}}">
        </div>
    </div>
    {% for post in blog_post.items %}
        <h2> <a href="{{url_for('blog_posts.blog_post', blog_post_id = post.id)}}">{{post.title}}</a></h2>
        Written by: <a href="{{url_for('users.user_post', username=post.author.username)}}">{{post.author</a>
        <p class="text-muted">Published on: {{post.date.strftime("%Y-%m-%d")</p>
        <br>
        <p>{{post.text}}</p>
        <br>
    {% endfor %}
{% endblock %}